<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Window Border Style - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/scripts/jquery-easyui-1.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/scripts/jquery-easyui-1.5/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/scripts/jquery-easyui-1.5/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/scripts/jquery-easyui-1.5/demo.css">
    <script type="text/javascript" src="/scripts/jquery-easyui-1.5/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-easyui-1.5/jquery.easyui.min.js"></script>
</head>
<body background="/res/back/0.jpg">
    <div id="win" class="easyui-window" title="登录认证" style="width:400px;height:280px;"
         collapsible="false" minimizable="false" maximizable="false" closable="false" closed="false">
        <form style="padding:10px 20px 10px 40px;" method="post" action="/Auth/Login">
            <div>
                <h2>
                    <img src="/res/icons/user3.png" />
                    账号:
                    <input type="text" name="username">
                </h2>
            </div>
            <div>
                <h2>
                    <img src="/res/icons/key1.png" />
                    密码:
                    <input type="password" name="password">
                </h2>
            </div>
            <div style="padding:5px;text-align:center;">
                <a href="#" class="easyui-linkbutton c1" icon="icon-ok">Ok</a>
                <a href="#" class="easyui-linkbutton c5" icon="icon-cancel">Cancel</a>
            </div>
        </form>
    </div>
</body>

<script type="text/javascript">
    document.onkeydown = function (e) {
        var event = e || window.event;
        var code = event.keyCode || event.which || event.charCode;
        if (code == 13) {
            login();
        }
    }
    $(function () {
        $("input[name='username']").focus();
    });
    function cleardata() {
        $('#loginForm').form('clear');
    }
    function login() {
        if ($("input[name='username']").val() == "" || $("input[name='password']").val() == "") {
            $("#showMsg").html("用户名或密码为空，请输入");
            $("input[name='username']").focus();
        } else {
            //ajax异步提交
            $.ajax({
                type: "POST",   //post提交方式默认是get
                url: "login.action",
                data: $("#loginForm").serialize(),   //序列化
                error: function (request) {      // 设置表单提交出错
                    $("#showMsg").html(request);  //登录错误提示信息
                },
                success: function (data) {
                    document.location = "index.action";
                }
            });
        }
    }
</script>
</html>